<div class="navbar-fixed-top" id="color-bars">
      <div id="bar-5" class="color-bar"></div>
      <div id="bar-1" class="color-bar"></div>
      <div id="bar-2" class="color-bar"></div>
      <div id="bar-3" class="color-bar"></div>
      <div id="bar-4" class="color-bar"></div>
      
    </div>
<!--=== Style Switcher ===-->    
<i class="style-switcher-btn icon-cogs"></i>
<div class="style-switcher">
    <div class="theme-close"><i class="icon-remove"></i></div>
    <div class="theme-heading">Theme Colors</div>
    <ul class="unstyled">
        <li class="theme-default theme-active" data-style="default" data-header="light"></li>
        <li class="theme-blue" data-style="blue" data-header="light"></li>
        <li class="theme-orange" data-style="orange" data-header="light"></li>
        <li class="theme-red" data-style="red" data-header="light"></li>
        <li class="theme-light" data-style="light" data-header="light"></li>
    </ul>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->    
<div class="fondo-blanco"><!--=== Header cabezera ===-->
    <!--=== Top ===-->    
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li class="devider">&nbsp;</li>
            <li><a href="page_faq.html" class="login-btn">Ayuda</a></li>  
            <li class="devider">&nbsp;</li>
            <li><a href="page_login.html" class="login-btn">Iniciar</a></li>   
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===--> 
<!--=== Header ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="index.html"><img id="logo-header" src="/img/logo-1.png" alt="Logo" style="height: 155px; width: 210px;"></a>
        </div><!-- /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li class="active"><%= link_to "Inicio", root_url %></li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Compañia
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Nuestra Compañia", :controller => "home", :action => "organizacion" %></li>
                                 <li><%= link_to "Historia", :controller => "home", :action => "historia" %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                        <%= link_to "Servicios", :controller => "home", :action => "organizacion" %>
                        </li>
                        <li>
                        <%= link_to "Proyectos", :controller => "home", :action => "proyecto" %>
                        </li>
                        <li>
                        <%= link_to "Responsabilidad", :controller => "home", :action => "responsabilidad" %>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacto
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Contacto", :controller => "home", :action => "contacto" %></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>                               
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="Search" />
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->
</div><!--=== Header cabezera ===-->