<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
   <title>LDS Ingenieria</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Global Compulsory-->
    <!-- CSS Global Compulsory<link rel="stylesheet" href="assets/stylesheets/style.css">-->   
  <link rel="shortcut icon" href="favicon.ico">        
  <!-- CSS Implementing Plugins -->    
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- CSS Global Compulsory-->
  <%= stylesheet_link_tag 	('style')%>
  <%= stylesheet_link_tag 	('header1')%>
  <%= stylesheet_link_tag 	('style_responsive')%>
  <%= stylesheet_link_tag 	('bootstrap-responsive')%>
  <!-- CSS Implementing Plugins -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag 	('font-awesome')%>
  <%= stylesheet_link_tag 	('flexslider')%>
  <%= stylesheet_link_tag 	('parallax-slider')%>
  <!-- CSS Theme -->
  <%= stylesheet_link_tag 	('default')%>
  <%= stylesheet_link_tag 	('flexslider')%>
  <%= stylesheet_link_tag 	('parallax-slider')%>
  <!--Time-line-->
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'shared/cabecera'%>

<%= yield %>


 <!-- javascript -->
 <!-- JS Global Compulsory -->
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag ('modernizr.custom') %>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>          
<!-- JS Implementing Plugins -->
<%= javascript_include_tag ('jquery.flexslider-min') %>
<%= javascript_include_tag ('jquery.cslider') %>
<%= javascript_include_tag ('back-to-top') %>
<%= javascript_include_tag ('modernizr') %>
<%= javascript_include_tag ('bootstrap-tooltip') %>

<!-- time line -->                 
<!-- JS Page Level -->
<%= javascript_include_tag ('app') %>
<%= javascript_include_tag ('index') %> 
<!--tooltip bootstrap -->
<script>
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});
</script>
<!--finaliza tooltip bootstrap -->
<script>
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<script>
   $(window).load(function() {

  $('#clients-flexslider').flexslider({
                animation: "slide",
                easing: "swing",
                animationLoop: true,
                itemWidth: 1,
                itemMargin: 1,
                minItems: 2,
                maxItems: 9,
                controlNav: false,
                directionNav: false,
                move: 2
            });
   $('#photo-flexslider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                itemWidth: 80,
                itemMargin: 0
            }); 
            
            $('#testimonal_carousel').collapse({
                toggle: false
            });


});
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 15000,
      pause: 'hover'
    })
  });
</script>
<script type="text/javascript">
 $(window).load(function() {
  $('#da-slider').cslider();
});
</script>


</body>
</html>
